{% macro render_field_with_errors(field) %}
    <div class="form-group">
      {{ field.label(class_="form-label")}}
      {{ field(**kwargs) |safe }}
      {% if field.errors %}
      <div class="mt-1 alert alert-danger text-center" role="alert">
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_post(post, comment_form, current_user, redirect_page) %}
  {% if post %} 
  <div>
    <ul>
        {% if current_user.is_authenticated  %}
          <li> Opções: <a href="{{ url_for('post', post_id=post.id)}}"> Ver detalhes </a>
          {% if current_user.has_role('admin') or post.user.id == current_user.id %}
          <a href="{{ url_for('excluir_post', post_id=post.id)}}"> Remover Post </a>
          {% endif %}
          </li>
        {% endif %}
      
        <li> Autor: {{ post.user.first_name }} {{ post.user.last_name }} </li>
        <li> Data: {{ post.creation_date.strftime('%d/%m/%Y %H:%M') }}</li>
        <li> Conteudo: {{ post.content }}  </li>
        {% if post.image %}
          <img src="{{ post.image }}" style="height: 200px; width: 100px;" />
        {% endif %}
        
        {% if current_user.is_authenticated  %}
          {% if kwargs %}
            <form method="POST" action="{{ url_for('%s' % redirect_page, **kwargs )}}">
          {% else %}
            <form method="POST" action="{{ url_for('%s' % redirect_page) }}">
          {% endif %}
              {{ comment_form.csrf_token }}
              {{ comment_form.post_id(value=post.id) }}
              {% call render_field_with_errors(comment_form.content) %} {% endcall %}
              <input type="submit" value="Comentar">
            </form>
        {% endif %}
        <p> Comentarios: </p>
        <ul>
            {% for comment in post.comments %}
            {% if current_user.has_role('admin') or post.user.id == current_user.id %}
            <li> Opções: <a href="{{ url_for('excluir_comentario', comment_id=comment.id)}}"> Remover </a> </li>
            {% endif %}
            <li> {{ comment.user.first_name }} {{ comment.user.last_name }} ({{ comment.creation_date.strftime('%d/%m/%Y %H:%M')}}): {{ comment.content }}</li>
            <br>
            {% endfor %}
        </ul>
    </ul>
  </div>
  <br>
  {% endif %}
{% endmacro %}

{% macro render_comment(comment, current_user) %}
<div class="d-flex flex-row mt-3 ms-2"> 
  {% if current_user.profile_picture %} 
  <img src="{{ current_user.profile_picture }}" width="60" height="60" class="rounded-circle"> 
  {% else %} 
  <img src="{{ url_for('static', filename='default.jpg') }}" width="60" height="60" class="rounded-circle"> 
  {% endif %} 
    <div class="d-flex flex-column ms-2"> 
      <span class="name">{{ comment.user.first_name }} {{ comment.user.last_name }}</span> 
      <small>{{ comment.content }}</small>
      <div class="d-flex flex-row align-items-center status"> 
        {% if current_user.has_role('admin') or comment.id_user == current_user.id %}
        <a href="{{ url_for('post', post_id=comment.id_post)}}" class="text-decoration-none"><small class="comment-text">Ver Publicação</small></a>
        <a href="{{ url_for('excluir_comentario', comment_id=comment.id)}}" class="text-decoration-none"><small class="comment-text">Remover</small></a>
        {% endif %}
      </div>
    </div>
</div>
{% endmacro %}