<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% endblock %}
</head>
<body>
    <h2> Menu </h2>
    <ul>
        <li><a href="{{ url_for('cursos') }}">Cursos</a></li>
        {% if not current_user.is_authenticated %}
        <li><a href="{{ url_for_security('login') }}">Login</a></li>
        <li><a href="{{ url_for_security('register') }}">Register</a><br/></li>
        {% endif %}
        {% if current_user.is_authenticated and current_user.has_role('mentor') %}
        <li><a href="{{ url_for('criar_post') }}">Criar Post</a><br/></li>
        {% endif %}
        {% if current_user.is_authenticated and current_user.has_role('admin') %}
        <li><a href="{{ url_for('gerenciar_cursos') }}">Gerenciar Cursos</a><br/></li>
        <li><a href="{{ url_for('gerenciar_usuarios') }}">Gerenciar Usuarios</a><br/></li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('perfil') }}">Perfil</a></li>
        <li><a href="{{ url_for_security('logout') }}">Logout</a><br/></li>
        {% endif %}
      </ul>

    {% block body %}

    {% endblock %}
</body>
</html>