<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>O Que Cursar? | {% block title %} {% endblock %}</title>
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="{{ url_for('static', filename='bootstrap-5.2.2-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <!-- MENU -->
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #0371c0b6;">
        <div class="container">
            <a href="{{ url_for('index') }}" class="navbar-brand text-white fw-bold"> O Que Cursar? </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navtoggler">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navtoggler">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a href="{{ url_for('cursos') }}" class="nav-link text-white fw-bold">Cursos</a></li>
                {% if current_user.is_authenticated and current_user.has_role('mentor') %}
                <li class="nav-item"><a href="{{ url_for('criar_post') }}" class="nav-link text-white fw-bold">Criar Post</a></li>
                <li class="nav-item"><a href="{{ url_for('meus_posts') }}" class="nav-link text-white fw-bold">Minhas Postagens</a></li>
                {% endif %}
                {% if current_user.is_authenticated and current_user.has_role('admin') %}
                <li class="nav-item"><a href="{{ url_for('gerenciar_usuarios') }}" class="nav-link text-white fw-bold">Permissão de usuarios</a></li>
                {% endif %}
                <hr class="break-sec-w" style="border-top: 2px solid white">
                {% if not current_user.is_authenticated %}
                <li class="nav-item"><a href="{{ url_for_security('login') }}" class="nav-link text-dark fw-bold">Entrar</a></li>
                <li class="nav-item"><a href="{{ url_for_security('register') }}" class="nav-link text-dark fw-bold">Registrar-se</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="nav-item"><a href="{{ url_for('perfil') }}" class="nav-link text-white fw-bold">Perfil</a></li>
                <li class="nav-item"><a href="{{ url_for_security('logout') }}" class="nav-link text-danger fw-bold">Logout</a></li>
                {% endif %}           
              </ul>
            </div>
        </div>
    </nav>
    <!-- MENU -->
    {% block body %}

    {% endblock %}

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-5.2.2-dist/js/bootstrap.min.js') }}"></script>
</body>
</html>