{% from "_macros.html" import render_field_with_errors %}
{% extends "base.html" %}

{% block header %}
{% block title %} Criar Post {% endblock %}
{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    {% include "_messages.html" %}
    <h1> Criar Publicação </h1>
    <p> Preencha os campos com as informações da publicação</p>
    <form method="POST" action="{{ url_for('criar_post')}}" enctype="multipart/form-data" class="row g-3 mt-3">
        {{ form.csrf_token }}
        {{ render_field_with_errors(form.courses, class="form-select", size="4", id="courses") }}
        {{ render_field_with_errors(form.content, class="form-control", id="description", rows="5") }}
        {{ render_field_with_errors(form.image, class="form-control", id="image") }}
        <div class="form-group">
          <button class="btn btn-success" type="submit">Criar publicação</button>
        </div>
      </form>
</div>
{% endblock %}