{% from "_macros.html" import render_field_with_errors, render_field_with_errors_wo_label, render_post %}
{% extends "base.html" %}

{% block header %}
{% block title %} {{ course.name }} {% endblock %}
{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    {% include "_messages.html" %}
    <h1 class="text-center"> {{ course.name }} </h1>
    {% if current_user.is_authenticated and current_user.has_role('mentor') %}
    <div class="row d-flex align-items-center justify-content-center mt-2 ">
        <div class="col-md-6">
            <h3 class="mt-5"> Criar Post </h3>
            <form method="POST" action="{{ url_for('curso_home', course_name=course.name)}}" enctype="multipart/form-data">
                {{ form_post.csrf_token }}
                {{ render_field_with_errors_wo_label(form_post.content, class="form-control", id="description", rows="5") }}
                {{ render_field_with_errors(form_post.image, class="form-control", id="image") }}
                <div class="form-group mt-3">
                    <button class="btn btn-success" type="submit">Publicar</button>
                </div>
            </form>
            <h2 class="mt-5"> Publicações Recentes</h2>
        </div>
    </div>
    {% endif %}
    {% for post in posts %}
        {{ render_post(post, form_comment, current_user, 'curso_home', course_name=course.name)}}
    {% endfor %}
</div>    
{% endblock %}