{% from "_macros.html" import render_field_with_errors, render_post %}
{% extends "base.html" %}

{% block header %}
{% block title %} {{ course.name }} {% endblock %}
{% endblock %}

{% block body %}
    <h1> {{ course.name }} </h1>
    {% include "_messages.html" %}
    {% if current_user.is_authenticated and current_user.has_role('mentor') %}
    <h2> Criar Post </h2>
    <form method="POST" action="{{ url_for('curso_home', course_name=course.name)}}">
        {{ form_post.csrf_token }}
        {{ render_field_with_errors(form_post.content) }}
        <input type="submit" value="Postar">
    </form>
    <br>
    {% endif %}
    <h2> Posts Recentes</h2>
    {% for post in posts %}
        {{ render_post(post, form_comment, current_user, 'curso_home', course_name=course.name)}}
    {% endfor %}
    
{% endblock %}