{% extends "base.html" %}

{% block header %}
{% block title %} Cursos {% endblock %}
{% endblock %}

{% block body %}
    {% include "_messages.html" %}

    {% if current_user.has_role('admin') %}
    <!--Botão para adicionar curso-->
    <div class="container mt-4">
        <div class="text-end">
            <a href="{{ url_for('gerenciar_cursos') }}" type="button" class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                </svg>
                Adicionar Curso
            </a>
        </div>
    </div>
    <!--Botão para adicionar curso-->
    {% endif %}

    <!-- Lista de Cards do curso -->
    <div class="container mt-4">
        <div class="row gy-5">
        {% for course in courses %}
        <!--Card-->
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="card"">
              <div class="card-body">
                <a href="{{ url_for('curso_home', course_name=course.name) }}" class="text-decoration-none text-dark"><h3 class="card-title">{{ course.name }}</h3></a>
                <p class="card-text text-muted text-justify" style="height: 10rem;">{{ course.description }}</p>
                <div class="row">
                      <div class="col-7">
                        {% if current_user.has_role('admin') %}
                          <a href="{{ url_for('editar_curso', course_id=course.id) }}" type="button" class="btn btn-primary">Editar</a>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal{{ course.id }}">
                            Excluir
                          </button>
                        {% endif %}
                      </div>
                      <div class="col-5 text-end">
                          <a href="{{ url_for('curso_home', course_name=course.name) }}" type="button" class="btn btn-outline-secondary ">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                              </svg>
                          </a>
                      </div>
                </div>
              </div>
            </div>
        </div>
        <!--Card-->
        {% if current_user.has_role('admin') %}
        <!-- Modal Card-->
        <div class="modal fade" id="Modal{{ course.id }}" tabindex="-1" aria-labelledby="ModalLabel{{ course.id }}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="ModalLabel{{ course.id }}">Deseja realmente excluir?</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Você tem certeza que deseja deletar permanentemente esse curso e todas suas publicações?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <a href="{{ url_for('excluir_curso', course_id=course.id) }}"><button type="button" class="btn btn-danger">Excluir tudo</button></a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}