{% from "_macros.html" import render_field_with_errors %}
{% extends "base.html" %}

{% block header %}
{% block title %} Gerenciar Cursos {% endblock %}
{% endblock %}

{% block body %}
    <h1> Gerenciar Cursos </h1>
    <br>
    <h2> Editar Curso</h2>
    <form method="POST" action="{{ url_for('editar_curso', course_id=course.id) }}">
        {{ form.csrf_token }}
        {{ render_field_with_errors(form.name) }}
        {{ render_field_with_errors(form.description) }}
        {{ render_field_with_errors(form.type) }}
        <input type="submit" value="Salvar Mudanças">
    </form>
{% endblock %}