{% from "_macros.html" import render_field_with_errors %}
{% extends "base.html" %}

{% block header %}
{% block title %} Gerenciar Cursos {% endblock %}
{% endblock %}

{% block body %}
    <div class="conteudo-page">
    <h1> Gerenciar Cursos </h1>
    <br>
    {% include "_messages.html" %}
    <br>
        <div class="box-01">
            <h2> Adicionar Curso</h2>
            <form method="POST" action="{{ url_for('gerenciar_cursos')}}">
            {{ form.csrf_token }}
            
            {{ render_field_with_errors(form.name) }}
            
            {{ render_field_with_errors(form.description) }}
            
            {{ render_field_with_errors(form.type) }}
            <div class="botao">
            <input type="submit" value="Adicionar Curso">
        </div>
        </form>
    </div>
        <br>
        <div class="box-02">
        <h2> Lista de Cursos</h2>
        <ul>
        {% for course in courses %}
        <li>{{ course.name }} <a href="{{ url_for('editar_curso', course_id=course.id) }}"> Editar </a> <a href="{{ url_for('excluir_curso', course_id=course.id) }}"> Remover </a></li>
        {% endfor %}
        </ul>
        {% endblock %}
        </div>
    </div>