{% extends "base.html" %}

{% block header %}
{% block title %} Home {% endblock %}
{% endblock %}

{% block body %}
    {% include "_messages.html" %}
    <div class="banner">
      <h1 class="fw-bold display-2 text-center text-dark banner-heading">O Que Cursar?</h1>
      <p class="text-dark fw-bold text-center container mt-5">
      É uma escolha dificil, mas aqui você pode aprender mais sobre suas opções! 
      Explore e aprenda sobre os cursos de graduação, licenciatura e pós-graduação disponiveis na UNIP Swift através de publicações feitas por profissionais da universidade de cada area.
      Você vai receber dicas, interagir e tirar suas dúvidas diretamente com pessoas que conhecem a area que você deseja ingressar.
      </p>
      <div class="text-center">
        <a href="{{ url_for('cursos')}} "> <button class="btn btn-outline-info text-white banner-btn">Explore os cursos</button> </a>
      </div>
    </div>
    <section class="blog mt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 blog-img"></div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h3 class="fw-bold text-center text-dark">Informação de forma prática!</h3>
            <p class="text-dark text-justify mt-5">
              Obtenha conhecimento e tire dúvidas sobre os cursos através 
            </p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}