{% extends "base.html" %}
{% from "_macros.html" import render_field_with_errors, render_comment %}

{% block header %}
{% block title %} Perfil {% endblock %}
{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
  <div class="row mt-5">
      <div class="d-flex flex-row align-items-center"> 
          {% if current_user.profile_picture %}
          <img src="{{ current_user.profile_picture }}" width="150" class="rounded-circle">
          {% else %}
          <img src="{{ url_for('static', filename='default.jpg') }}" width="150" class="rounded-circle">
          {% endif %} 
          <div class="d-flex flex-column ms-4"> <h2 class="font-weight-bold">Olá, {{ current_user.first_name }} {{ current_user.last_name }}</h2> 
      </div>
  </div>
  
  <h3 class="mt-5">Seus Dados</h3>

  {% include "_messages.html" %}
  <form method="POST" action="{{ url_for('perfil')}}" enctype="multipart/form-data" class="row g-3 mt-3">
      {{ form.csrf_token }}
      {{ render_field_with_errors(form.first_name, class="form-control", id="first_name") }}
      {{ render_field_with_errors(form.last_name, class="form-control", id="last_name") }}
      {{ render_field_with_errors(form.occupation, class="form-control", id="occupation") }}
      {{ render_field_with_errors(form.photo, class="form-control", id="photo") }}
      <div class="form-group">
        <button class="btn btn-success" type="submit">Atualize seus dados</button>
      </div>
    </form>
  <h3 class="mt-5"> Seus Comentarios</h3>
  {% for comment in comments %}
    {{ render_comment(comment, current_user) }}
  {% endfor %}
 
{% endblock %}